@use "/src/sass/base/variables.scss" as *;

@mixin title {
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    color: $dark;
    line-height: normal;
    text-align: center;
}

@mixin button {
    display: block;
    padding: 0 10px;
    background-color: transparent;
    border: 1px solid $dark;
    border-radius: 2px;
    text-align: center;
    color: $dark;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
}

@mixin angle-decoration {

    &::after,
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid $dark;
    }

    &::after {
        width: 0px;
        height: 200px;
    }

    &::before {
        width: 200px;
        height: 0px;
    }
}
