@use '/src/sass/base/variables.scss' as *;
@use "/src/sass/base/mixins.scss" as *;

.catalog {
    padding-top: 50px;

    &__title {
        margin-top: 50px;
    }

    &__tabs {
        display: flex;
        flex-wrap: wrap;
        column-gap: 50px;
        row-gap: 13px;
        margin-top: 60px;
        border: 1px solid $dark;
        padding: 13px 25px;
        max-width: 460px;
    }

    &__tab {
        position: relative;
        border: none;
        background: none;
        padding: 0;
        font-weight: 500;
        font-size: 20px;
        text-transform: uppercase;
        color: #000;
        font-style: normal;
        line-height: normal;
        cursor: pointer;

        &_active::before {
            content: '';
            position: absolute;
            width: 100%;
            border: 1px solid #000;
            bottom: -2px;
        }
    }

    &__content {
        margin-top: 60px;

        &-item {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
        }
    }

    &__card {
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);

        &-img {
            width: 100%;
        }

        &-info {
            padding: 11px 12px 17px 12px;
            border: 1px solid $dark;
            border-top: none;
        }

        &-name {
            font-weight: 500;
            font-size: 16px;
            color: #000;
            font-style: normal;
            line-height: normal;
        }

        &-price {
            margin-top: 8px;
            font-weight: 500;
            font-size: 16px;
            color: #000;
            font-style: normal;
            line-height: normal;
        }
    }
}

@media screen and (min-width: 768px) {
    .catalog {
        &__content {
            padding: 10px;
            position: relative;
            z-index: 1;
            @include angle-decoration;

            &-item {
                flex-direction: row;
                flex-wrap: wrap;
                gap: 20px;
                align-items: flex-start;

            }
        }

        &__card {
            width: 340px;
            min-height: 275px;

            &-img {
                height: 198px;
                object-fit: cover;
            }

            &-price {
                margin-top: 10px;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .catalog {
        &__content {
            padding: 25px;

            &-item {
                gap: 35px;
            }
        }
    }
}

@media screen and (min-width: 1920px) {
    .catalog {
        padding-top: 40px;

        &__title {
            margin-top: 100px;
        }

        &__content {
            &-item {
                row-gap: 25px;
                column-gap: 83px;
            }
        }

        &__card {
            width: 285px;
            min-height: 250px;

            &-img {
                height: 180px;
            }
        }
    }
}
